@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Laurelle";
  src: url("./assets/fonts/font/UTLaurelle-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas";
  src: url("./assets/fonts/Bebas/BebasNeue-Regular.ttf") format("truetype");
}
